.main-page {
    display: flex;
    justify-content: center;
    align-items: start;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 600px;
    border: 5px solid black;
    background-color: RGB(47, 49, 54);
    border-radius: 10px;
}

.display {
    display: flex;
    width: 90%;
    height: 25%;
    background-color: RGB(74, 76, 81);
    margin-top: 2.5%;
    border-radius: 5px;
    padding: 0px;
    color: white;
}

.clear-delete-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 10%;
    gap: 5%;
}

.main-button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    width: 95%;
    height: 65%;
    margin-bottom: 5px;;
}

.main-button {
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: 5px solid black;
    background-color: RGB(41, 166, 246);
    color: RGB(255, 255, 255);
}

#clear-button, #delete-button {
    width: 40%;
    height: 60%;
    font-size: 24px;
    background-color: RGB(229, 48, 44);
    color: white;
}

.memory-display {
    width: 50%;
    font-size: 16px;
    max-height: 200px;
    overflow-y: auto;
}

.current-input-display {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: end;
    width: 50%;
}

.current-number {
    font-size: 42px;
}

.saved-number {
    font-size: 42px;
}

.operation-sign {
    font-size: 42px;
    height: fit-content;
}

button {
    border-radius: 20px;
}

button:hover {
    box-shadow: 0 0 10px RGB(102, 204, 255);
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

#clear-button:hover, #delete-button:hover {
box-shadow: 0 0 10px RGB(255, 140, 135);
}